/* UI - p5 elements styles */
.gen {
  font-size: 36px;
}
.comp {
  font-size: 24px;
}
.info {
  font-size: 20px;
}

.start {
  height: 30px;
}
.play {
  height: 30px;
}

.all-title {
  font-size: 20px;
}

/* UI - index.html styles */
#sketch-holder {
  position: relative;
  top: 350px;
}

img {
  width: 110px;
  height: 225px;
  position: absolute;
  top: 550px;
}

#all-container {
  position: absolute;
  left: 1250px;
  top: 10px;
}
#all-container summary {
  font-size: 36px;
}
